#loader-back {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
}
#loader {
  position: absolute;
  left: 40%;
  top: 30%;
  width: 220px; /* Adjust as needed */
  height: 220px; /* Adjust as needed */
  margin: auto;
}

#loader > img {
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
}

.center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
}

.orbiting-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px; /* Adjust as needed */
  height: 10px; /* Adjust as needed */
  transform: translate(-50%, -50%);
  animation: orbit 5s linear infinite;
}

.orbiting-image:nth-child(2) {
  animation-delay: -3.3s; /* Offset the second orbiting image */
}

.orbiting-image:nth-child(3) {
  animation-delay: -6.6s; /* Offset the second orbiting image */
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(110%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(110%) rotate(-360deg);
  }
}
